.header{
    display:flex;
    justify-content: space-between;
    border:0.5px solid black;

}
.logo{
    width:200px;
    height: 100px;

}
.nav-items > ul{

    display:flex;
    list-style-type: none;
   
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;

}
.res-container{
    display:flex;
    flex-wrap: wrap;
}
.res-card {
    margin: 10px;
    padding: 10px;
    width: 220px;
    height: 420px;          /* better height */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Optional: Add a shadow for better effect */
}
.search{
    padding:10px;
    width:auto;
}

.res-logo {
    padding: 10px;
    width: 190px;
    height: 140px;        
    object-fit: cover;   
    border-radius: 8px;  
}

.filter-btn{

    margin:10px;
    cursor: pointer;
}

.shimmer-card{

    margin:20px;
    width:200px;
    height:400px;
    background-color: #f0f0f0;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.error-container{
    
    text-Align: "center";
    margin-top: "50px";
    color: "red",
  
}
